:root{
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 28px;
  background-color: var(--Dark-Blue);
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.App{
  background-color: var(--Dark-Grayish-Blue);
  max-width: 400px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.separator{
  margin-bottom: 10px;
}

.separator img{
  width: 100%;
}

h1{
  font-size: .4em;
  color: var(--Neon-Green);
  letter-spacing: 3px;
  margin-bottom: 20px;
}

p{
  color: var(--Light-Cyan);
  text-align: center;
  height: 100%;
  font-size: .7em;
}

.container-btn{
  position: relative;
  width: 100%;
}

.btn{
  width: 40px;
  height: 40px;
  background-color: var(--Neon-Green);
  border-radius: 100px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 8px;
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0 0 20px var(--Neon-Green);
}

.btn img{
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 500px) {
  body{
    padding: 20px;
  }
  
  .App{
    padding: 20px 10px 10px ;
    /* max-width: 370px; */
  }

  .separator{
    margin-bottom: 20px;
  }

  .btn{
    margin-top: -10px;
  }
}